<div class="project-item" data-project-id="<%= project.id %>">
  <div class="project-header row">
    <span class="show-project-button col-md-2">
      <%= fa_icon "window-minimize" %>
      <%= fa_icon "window-restore" %>
    </span>
    <span class="col-md-8">
      <div class="project-title">
        <span><%= project.title %></span>
      </div>
      <div class="project-title form-inline" style="display: none">
        <%= text_field_tag :title, nil, class: "form-control form-control-sm" %>
        <%= submit_tag "Edit", class: "btn btn-primary btn-sm" %>
      </div>
    </span>
    <span class="manage-project-buttons col-md-2">
      <%= fa_icon "pencil" %>
      <%= fa_icon "trash" %>
    </span>
  </div>
  <div class="project-tasks">
  </div>
</div>
